body {
    background-color: #005E93;
    color: white;
    background-image: url(/content/background.jpg);
    background-size: 100%;
    font-size: 1em;
}
h1 {
    color: #F0A856;
    text-shadow: 0.08em 0.08em #333;
}
#PageWrapper {
    width: 100%;
    height: 100%;
}
.testPass {
    margin-left: 374px;
    position: relative;
    bottom: 5px;
    font-size: .75em;
    text-decoration: none;
    color: #005E93;
}
#ContentPane {
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
    background-color: #689EBD;
    border-radius: 20px;
    border-color: #949494;
    border-width: 2px;
    border-style: solid;
}
fieldset {
    border: 0;
}
#Entry {
    color: white;
    width: 585px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#Password {
    width: 300px;
    height: 20px;
    margin: 0 auto;
    font-size: 1em;
}
#Error {
    width: 30px;
    height: 30px;
    top: 8px;
    position: relative;
    visibility: hidden;
}
.ResultEntry {
    width: 450px;
    height: 40px;
    background-color: #D6D6D6;
    border-radius: 10px;
    border-color: #B8B8B8;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    margin-bottom: 5px;
}
.ResultEntry p {
    margin: auto;
    margin-top: 10px;
    color: #068DC7;
}
#Results {
    margin: 0 auto;
    width: 450px;
    margin-bottom: 20px;
    display: none;
}
#GeneratePassword {
    position: relative;
    top: -3px;
}
#ContentPane h1 {
    text-align: center;
}
#Information {
    text-align: center;
    text-align: center;
}
#Description {
    font-size: 1.2em;
    text-shadow: 0.08em 0.08em #333;
}
#Loading {
    width: 128px;
    height: 15px;
    margin: 0 auto;
    display: none;
    margin-bottom: 20px;
}
/*-----------------------------
         CSS3 Input
------------------------------*/

.fancyButton {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    margin: 0 2px;
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}
.fancyButtonSmall {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    margin: 0 2px;
    outline: medium none;
    padding: 0.25em 2em 0.25em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}
.fancyButton:hover {
    text-decoration: none;
}
.fancyButton:active {
    position: relative;
    top: 1px;
}
.fancyButtonBigrounded {
    border-radius: 2em 2em 2em 2em;
}
.fancyButtonMedium {
    font-size: 12px;
    padding: 0.4em 1.5em 0.42em;
}
.fancyButtonSmall {
    font-size: 11px;
    padding: 0.2em 1em 0.275em;
}

.fancyButtonBlue {
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#00ADEE), to(#0078Ad)) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ADEE', endColorstr='#0078Ad');
    border: 1px solid #0076A3;
    color: #D9EEF7 !important;
}
.fancyButtonBlue:hover {
    background: -moz-linear-gradient(center top , #0095CC, #00678E) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#0095CC), to(#00678E)) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095CC', endColorstr='#00678E');
}
.fancyButtonBlue:active {
    background: -moz-linear-gradient(center top , #0078A5, #00ADEE) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#0078A5), to(#00ADEE)) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078A5', endColorstr='#00ADEE');
    color: #80BED6;
}

.FancyTextBox {
    border: 1px solid #b9bdc1;
    color: #797979;
    min-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.FancyTextBox:focus {
    background-color: #E7E8E7;
}